<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />

    <!-- <link rel="stylesheet" href="../../css/layout.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/design-tokens-safe.css" /> -->
    <title>{{ title }}</title>
  </head>
  <body class="site-width-limiter-1200">
    <!-- {% include "partials/header-partial.html" %}  -->
    {% block content %}
    <!-- APP CONTENT HERE -->
    {% endblock %} 
    <!-- {% include "partials/footer-partial.html" %} -->

    <script src="../../javascript/core/index.js" defer type="module"></script>
  </body>
</html>
