{% extends "layouts/helpers/base-helpers-container-layout.html" %}
{% block content %}

<main>{% block helperPages %}
    <h2>CSS</h2>
  <p>Describe CSS file struct and how cascade works  </p>
  <ul>
    <li>Navigation</li>
    <li>Grids</li>
    <li>Fonts</li>
    <li>Design-tokens</li>
    <li>Themeing</li>
  </ul>
    <h3>Grid examples</h3>
    <div class="grid-auto-flow-col ">
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
    </div>
    <div class="grid-auto-flow-row ">
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
      <div class="test-item">:/</div>
    </div>
    <div class="grid-stacked">
      <div class="layer1">
        <div class="layer1-text"><h1>001</h1></div>
      </div>
      <div class="layer2 ">
        <div class="img-container">
        <img  src="/images/ocelot.png" alt="">
      </div></div>
      
    </div>
    
    
    {% endblock %}</main>
{% endblock %}