<footer class="footer">
  <header class="footer-header">
    <a href="/respira-dashboard.html" class="footer-logo">
      <img
        src="/images/logos/respira-logo-small.png"
        alt="logo of respira-flow"
        width="100px"
        height="100px"
      />
    </a>

    <ul class="legal">
      <li>
        <a
          href="https://respira-files.s3.eu-west-2.amazonaws.com/RespiraFlow+app+privacy+notice.pdf"
          target="_blank"
        >
          Privacy Notice
        </a>
      </li>
      <li>
        <a
          href="https://respira-files.s3.eu-west-2.amazonaws.com/RespiraFlow+app+terms+of+use.pdf"
          target="_blank"
        >
          Terms Of Use
        </a>
      </li>

      <li>
        <a
          href="https://respira-files.s3.eu-west-2.amazonaws.com/RespiraFlow+data-protection.pdf"
          target="_blank"
        >
          Data Protection Policy
        </a>
      </li>
      <li>
        <a href="mailto:contact@materialevolutionlab.com">
          contact@materialevolutionlab.com
        </a>
      </li>
    </ul>
  </header>
</footer>
