<div class="site-header-wrapper">
  <header class="site-header">
    <a href="/respira-dashboard.html" class="link--primary logo">
      <img
        src=""
        alt="logo of respira-flow"
        width="100px"
        height="100px"
      />
    </a>
  </header>
</div>
<menu class="site-menu-container">
  <ul class="site-menu-list">
    <li class="site-menu-list-item">
      <a class="site-links" href="/module-1.html">Respira Course</a>
    </li>

    <li class="site-menu-list-item">
      <a class="link--primary" href="/respira-library-v3.html">
        Breathwork Library
      </a>
    </li>
    

    <li><a href="" class="user-profile-link"></a></li>
  </ul>
</menu>
